@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Zen+Antique+Soft&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #eee;
    font-family: 'Lobster', cursive;
  }
  
  #page-wrapper {
    position: relative;
  }
  #header{
      display: flex;
      justify-content: space-between;
      padding: 1rem;
  }
  #title{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
  }
  li {
    list-style: none;
  }
  
  a {
    color: #000;
    text-decoration: none;
    font-size: 1.4rem;
  }
  
  /** global classes styling **/
  
  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
ul{
    list-style-type: none;
}
/* .nav-link{
    font-size: 1rem;
} */
.btn{
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}
#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

#hero input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
  }
  
  #hero input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 1px solid black;
    background-color: #f1c40f;
    border-radius: 7px;
  }
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  .grid{
      display: flex;
  }
  @media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  }
  @media (max-width: 650px) {
    .logo {
      margin-top: 15px;
      width: 100%;
      position: relative;
    }
  }
  
  .logo > img {
    width: 100%;
    height: 100%;
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
  }
  
  @media (max-width: 650px) {
    .logo > img {
      margin: 0 auto;
    }
  }
  
  nav {
    font-weight: 400;
  }
  
  @media (max-width: 650px) {
    nav {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 50px;
    }
    nav li {
      padding-bottom: 5px;
    }
  }
  
  nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  @media (max-width: 650px) {
    nav > ul {
      flex-direction: column;
    }
  }
  
  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
  }
  
  #hero > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
  }
  
  #hero input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
  }
  
  #hero input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
  }
  
  #hero input[type='submit']:hover {
    background-color: orange;
    transition: background-color 1s;
  }
  
  @media (max-width: 650px) {
    #hero {
      margin-top: 120px;
    }
  }
  
  #features {
    margin-top: 30px;
  }
  .suspension::after{
    background:url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSj3XfIpf-OOJRCcWz4iN2CU3qMKVVbj0p0bRvKNGVo1U9pk_8ZIlyR8pWreA');
  }
  
  #features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
  }
  
  @media (max-width: 550px) {
    #features .icon {
      display: none;
    }
  }
  
  #features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
  }
  
  @media (max-width: 550px) {
    #features .desc {
      width: 100%;
      text-align: center;
      padding: 0;
      height: 150px;
    }
  }
  
  @media (max-width: 650px) {
    #features {
      margin-top: 0;
    }
  }
  
  #services{
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  
  #services > iframe {
    max-width: 560px;
    width: 100%;
  }
  
  #pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
  }
  
  .product > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .product > h2 {
    margin-top: 15px;
  }
  
  .product > ol {
    margin: 15px 0;
  }
  
  .product > ol > li {
    padding: 5px 0;
  }
  
  .product > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
  }
  
  .product > button:hover {
    background-color: orange;
    transition: background-color 1s;
  }
  
  @media (max-width: 800px) {
    #pricing {
      flex-direction: column;
    }
    .product {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
  
  footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
  }
  
  footer > ul {
    display: flex;
    justify-content: flex-end;
  }
  
  footer > ul > li {
    padding: 0 10px;
  }
  
  footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
  }
  p{
      font-family: 'Zen Antique Soft', serif;
  }